.about-me {
  margin-top: 60px;
  display: flex;
  background: #f6f6f6;

  &__heading {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #070707;
    padding-top: 60px;
  }

  &__text {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    width: 45%;
    text-align: left;
    margin: 0 auto;
    padding: 50px 0px;

    &--center {
      margin-right: 20%;
    }
  }
}
