<section class="about-me">
  <div class="content container">
    <div class="about-me__personal-info">
      <h2 class="about-me__heading">About me</h2>
      <p class="about-me__text">Aliquam tortor molestie turpis est tristique. Congue diam orci amet quis semper ut. Vitae
        aenean nibh facilisis urna, ultricies euismod nunc. Commodo fringilla sit hendrerit consequat. Vel ac elit vel
        sagittis.</p>
      <p class="about-me__text about-me__text--center">Tincidunt id quis pellentesque rutrum pretium. Egestas aliquam dictum ipsum nisl, sed
        pulvinar. Commodo elit sed a fermentum non justo. Etiam platea consectetur.</p>
      <p class="about-me__text">Quam ipsum odio tellus etiam aliquam dolor ut hendrerit. Felis risus nec vitae nunc
        ultricies placerat. Nullam nec felis eu id dolor pellentesque tristique. </p>
    </div>
  </div>
</section>