.button {
  border-radius: 30px;
  background: transparent;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  padding: 10px 29px 10px 29px;
}

.contact-info__send-btn {
  background: #070707;
  color: #ffffff;
  margin: 30px auto;
}