<div class="portfolio-wrapper">
  <section class="portfolio container">
    <div class="portfolio__content">
      <h2 class="portfolio__heading">Portfolio</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="portfolio__img" src="/static/images/portfolio.png">
            <div class="portfolio__description">
              <p class="portfolio__info portfolio__info--1">Learning site for DL Academy courses</p>
              <p class="portfolio__info portfolio__info--2">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img class="portfolio__img" src="/static/images/portfolio.png">
            <div class="portfolio__description">
              <p class="portfolio__info portfolio__info--1">Learning site for DL Academy courses</p>
              <p class="portfolio__info portfolio__info--2">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img class="portfolio__img" src="/static/images/portfolio.png">
            <div class="portfolio__description">
              <p class="portfolio__info portfolio__info--1">Learning site for DL Academy courses</p>
              <p class="portfolio__info portfolio__info--2">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
      </div>
    </div>
  </section>
</div>