<section class="skills container">
  <h2 class="skills__heading">Skills</h2>
  <span class="skills__info">I work in such programs as</span>
  <ul class="skills__list">
    @@include('skills-item/index.html', {
      image:"html",
      alt:"html",
      text:"HTML 5",
      skillPercentage:"85%",
      tech:"html"
    })
    @@include('skills-item/index.html', {
      image:"css",
      alt:"css",
      text:"CSS/SCSS",
      skillPercentage:"55%",
      tech:"css"
    })
    @@include('skills-item/index.html', {
      image:"js",
      alt:"js",
      text:"JavaScript",
      skillPercentage:"5%",
      tech:"js"
    })
    @@include('skills-item/index.html', {
      image:"git",
      alt:"git",
      text:"Git/GitHub",
      skillPercentage:"15%",
      tech:"git"
    })
    @@include('skills-item/index.html', {
      image:"figma",
      alt:"figma",
      text:"Figma",
      skillPercentage:"80%",
      tech:"figma"
    })
  </ul>
</section>