<header class="header container">
  <nav class="header__navigation">
    <ul class="header__navigation-list">
      <li class="header__navigation-item"><a href="#" class="header__navigation-link header__navigation-link--home-link">Home</a></li>
      <li class="header__navigation-item"><a href="#" class="header__navigation-link">My blog</a></li>
      <li class="header__navigation-item"><a href="/pages/profile/index.html" class="header__navigation-link">Sign in</a></li>
      <li class="header__navigation-item"><a href="#" class="header__navigation-link">Register</a></li>
    </ul>
  </nav>
</header>
