*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

:focus,
:hover,
:disabled {
  outline: none;
}

:active {
  text-decoration: none;
  border-bottom: none;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.swiper {
  width: 1000px;
  height: 604px;
  margin-bottom: 60px;
}

.swiper-button-next {
  color: #070707;
}
.swiper-button-prev {
  color: #070707;
}

@import "./header/header";
@import "./general-info/general-info";
@import "./about-me/about-me";
@import "./footer/footer";
@import "./skills/skills";
@import "./skills-item/skills-item.scss";
@import "./portfolio/portfolio";
@import "./button/button";
@import "./profile/profile";
@import "./log-in-modal/log-in-modal";
@import "./sign-in-modal/sign-in-modal";
@import "./checkbox/checkbox";