.skills {
  &__list {
    flex-wrap: wrap;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    width: 180px;
    height: 168px;
  }

  &__name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-top: 20px;
  }

  &__progress-bar {
    display: flex;
    flex-direction: row;
  }

  &__percent {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-top: 23px;
    padding-right: 12px;
  }

  &__progress {
    background-color: #E5E5E5;;
    margin-top: 28px;
    height: 9px;
    width: 114px;
    border: none;

    &--html {
      background: linear-gradient(to right, #070707 85%,#E5E5E5 15%);
    }

    &--css {
      background: linear-gradient(to right, #070707 55%,#E5E5E5 45%);
    }

    &--js {
      background: linear-gradient(to right, #070707 10%,#E5E5E5 5%);
    }

    &--git {
      background: linear-gradient(to right, #070707 15%,#E5E5E5 5%);
    }

    &--figma {
      background: linear-gradient(to right, #070707 80%,#E5E5E5 20%);
    }
  }
}
