<section class="slider container">
  <div class="slider__text">
    <h1 class="slider__heading">Samoylov Dmitriy</h1>
    <span class="slider__info">Future front-end developer
      34 years old, Tolyatti</span>
  </div>
    <picture class="slider__img">
      <img src="../../static/images/profile_photo.jpg" alt="photo" width="1000">
    </picture>
    <div class="slider__navigation">
      <button class="slider__nav-btn">
        <img src="../../static/images/slide_left_arrow.png" alt="arrow">
      </button>
      <div class="slider__pagination">
        <button class="slider__pagination-button" aria-label="pagination-button"></button>
        <button class="slider__pagination-button" aria-label="pagination-button"></button>
        <button class="slider__pagination-button" aria-label="pagination-button"></button>
        <button class="slider__pagination-button" aria-label="pagination-button"></button>
      </div>
      <button class="slider__nav-btn">
        <img src="../../static/images/slide_right_arrow.png" alt="arrow">
      </button>
    </div>
</section>