<section class="general-info container">
  <div class="general-info__text">
    <h1 class="general-info__heading">Dmitriy<br>Samoylov</h1>
    <span class="general-info__info">Future front-end developer
      34 years old, Tolyatti</span>
  </div>
    <div class="slider-container">
      <div class="selfmade-slider">
        <div class="selfmade-slider__wrapper">
          <div class="selfmade-slider__inner-wrapper">
            <div class="selfmade-slider__slide">
              <picture class="selfmade-slider__img">
                <img class="selfmade-slider__img-content" src=../../static/images/profile_photo.jpg alt="photo">
              </picture>
            </div>
            <div class="selfmade-slider__slide">
              <picture class="selfmade-slider__img">
                <img class="selfmade-slider__img-content" src=../../static/images/profile_photo.jpg alt="photo">
              </picture>
            </div>
            <div class="selfmade-slider__slide">
              <picture class="selfmade-slider__img">
                <img class="selfmade-slider__img-content" src=../../static/images/profile_photo.jpg alt="photo">
              </picture>
            </div>
            <div class="selfmade-slider__slide">
              <picture class="selfmade-slider__img">
                <img class="selfmade-slider__img-content" src=../../static/images/profile_photo.jpg alt="photo">
              </picture>
            </div>
          </div>
        </div>
        <div class="selfmade-slider__navigation">
          <button class="selfmade-slider__nav-btn prev-btn-js" disabled>
            <img src="../../static/images/slide_left_arrow.png" alt="arrow">
          </button>
          <div class="selfmade-slider__pagination"></div>
          <button class="selfmade-slider__nav-btn next-btn-js">
            <img src="../../static/images/slide_right_arrow.png" alt="arrow">
          </button>
        </div>
      </div>
    </div>
</section>